@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

#footer {
    width: 100%;
    height: 120px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #696969;
    position: absolute;
    /* top: 100%; */
    bottom: 0px;
}

.footItem {
    color: white;
    font-family: 'Kanit', sans-serif;
}

.footItem a {
    text-decoration: none;
    color: white;
}

.socialLink,
.socialLink:hover {
    text-decoration: none;
    color: white;
}

.socialImg {
    margin: 7px;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 30%;
    margin-top: 12px;
    color: white;
    font-size: 18px;
}

#contact {
    width: 70%;
    margin: auto 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
}

.contactItem{
    display: flex;
    flex-direction: column;
}
.contactItem i, .contactItem a{
    line-height:20px;
    color: white;
    text-decoration: none;
}

#copyPara {
    font-size: 10px;
}

@media screen and (max-width:320px){
    #footer {
        flex-direction: column;
        height: auto;
        gap:30px;
    }
    #copyright {
        width: 100%;
        align-items: center;
    }
    #contact {
        width: 100%;
        justify-content: center;
    }
}
