.nav-item{
    border-radius: 10px;
    padding:8px 0px;
    width:70px;
    text-align: center;
    line-height:15px;
}
.nav-item:hover{
    background-color: rgb(188, 131, 241);
    transition: 0.3s ease;
}
.navbar{
    z-index: 1;
    width:100%;
}
#nav-link{
    color:black;
    text-decoration: none;
}
.navbar-nav{
    margin-right: 30px;
}